#ck_container_cookie {
	background-color: #000000aa;
}

#ck_container_cookie + div {
	filter: blur(5px);
}

.gr-action-link-container a.gr-action-link {
    display: none;
    opacity: 0.5;
}

.gr-action-link-container:hover a.gr-action-link {
    display: inline-block;
}

a.gr-action-link:hover {
    opacity: 1;
}

.gr-full-width {
    width: 100%;
}

.gr-existing-members-hide {
	display: none;
}

.gr-existing-members-hide + form {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
